/* Color palette - http://paletton.com/#uid=6000u0ksSpBj5vWo2t5vakUDbfR */

/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

body {
    /*    margin: 140px 6% 0 6%;*/
    width: 100%;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #202020;
    color: #bdbaba;
    height: 100%;
}


/*  NEEDED ONLY IF CHEERING CROWD ADDED BACK TO BOTTOM
#concertGoers {
    z-index: 301;
    bottom: 0;
    position: fixed;
    width: 100%;
    max-height: 500px;
}
*/

.curtainMain {
    z-index: 300;
    width: 100%;
    height: 105%;
    position: fixed;
    top: 0;
}

.curtainRight {
    /* HIDE ON NARROW SCREENS */
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 301;
    max-width: 15%
}

.curtainLeft {
    /* HIDE ON NARROW SCREENS */
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 301;
    max-width: 15%
}

.curtainTop {
    /* HIDE ON NARROW SCREENS? */
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 302;
}

@media (max-width: 500px) {
    .curtainLeft,
    .curtainRight {
        display: none;
    }
}

header {
    width: 100%;
    margin-top: 20px;
    left: 0;
    z-index: 2;
}

header div,
.venueHeader div {
    padding: 0;
    margin: 0;
    margin-left: -20%;
    /* want to go full width behind curtains */
    text-align: center;
    border: 1px black solid;
    background-color: white;
    /*    height: 60px;*/
    width: 140%;
    line-height: 38px;
}

h1,
.marqueeText,
.hideMe {
    font-family: 'Overpass Mono', monospace;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: black;
    /*    padding: 30px 0 -30px 0;*/
    margin: 4px 0 -5px 0;
    /* TEST TO MAKE SURE NOT FUNKY ON OTHER DEVICES */
    /*    text-shadow: 2px 2px 4px #202020;*/
    /*    margin-top: 50px;*/
}

.hideMe {
    visibility: hidden;
}

.offScreen {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

h2 {
    text-align: center;
    font-size: 34px;
    color: #E83A3A;
    padding-top: 20px;
    padding-bottom: 20px;
}

.searchBox,
.resultsBox {
    border: 7px dotted #fed9ba;
    /* creates solid lines inside & outside of dotted border */
    box-shadow: inset 0 -1px 0 0 #FE6767, inset 0 1px 0 0 #FE6767, 0 1px 0 0 #FE6767, 0 -1px 0 0 #FE6767, inset 1px 0 0 0 #FE6767, inset -1px 0 0 0 #FE6767, 1px 0 0 0 #FE6767, -1px 0 0 0 #FE6767;
    margin: 70px 12%;
    width: 76%;
}

.sorter {
    text-align: center;
    margin-bottom: 0;
}

.selectCenterer {
    text-align: center;
    display: block;
    margin: 0 auto 50px auto;
}

.selectCenterer select {
    width: 70%;
    font-size: .8em;
    padding: 3px;
}

.searchBox h3 {
    text-align: center;
    color: #FEAB67;
    padding-bottom: 20px;
}

.searchDescriptions {
    padding: 0 30px 30px 30px;
    font-size: .85em;
}

.searchDescriptionTitle {
    color: #FEAB67;
}

.searchDescriptions p {
    padding-top: 20px;
}

.textBlock {
    padding: 20px;
}

.venueLimiter {
    text-align: center;
    padding: 30px;
}

.listHolder,
.mapBox {
    border-top: 7px dotted #fed9ba;
    /* creates solid lines inside & outside of dotted border */
    box-shadow: inset 0 1px 0 0 #FE6767, 0 -1px 0 0 #FE6767;
    padding: 0;
}

.paddingAdder {
    height: 60px;
    background-color: #161616;
    border: 1px solid #FE6767;
}

.paddingAdder h3 {
    padding: 10px 30px;
    color: #FE6767;
    font-size: 1.1em;
}

.scrollbarExtender {
    border-right: 16px #f1f1f1 solid;
}

.listBox {
    /*    margin-top: 30px;*/
    /*    margin-bottom: 30px;*/
    height: 400px;
    overflow-y: scroll;
    padding: 30px;
    /*    border-top: 1px solid #FE6767;*/
}

.listBox p {
    padding-bottom: 20px;
}

.address {
    color: #FEAB67;
}

#map {
    height: 400px;
    width: 94%;
    margin: 0 3%;
}

@media (max-width: 1300px) {
    #map {
        width: 100%;
        margin: 0;
    }
}

a {
    text-decoration: none;
    color: #5CB2C2;
}

a:hover {
    color: #aee7f2;
    text-shadow: 0 0 1px white;
}

button {
    cursor: pointer;
    margin: 2px 10px;
    padding: 15px;
    border-radius: 20px;
    color: white;
    background-color: #006500;
    font-size: .9em;
}

.listBox button {
    font-size: .8em;
    padding: 5px 8px;
    border-radius: 10px;
    box-shadow: 1px 1px white;
    margin-left: 30px;
}

@media (max-width: 800px) {
    button {
        height: 60px;
        width: 60px;
    }
}

button:hover:not(#closeVenue) {
    background-color: #A91000;
    font-weight: 700;
}

button#closeVenue:hover {
    text-shadow: 0 0 1px white;
}

.jsHide,
.reviewBox {
    display: none;
}

#closeVenue {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 401;
}

.venueBox,
.reviewBox {
    width: 100%;
    height: 100%;
    padding: 20px 5%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: black;
}

.venueBox {
    z-index: 101;

}

.venueVisible {
    visibility: visible;
    display: inline-block;
    /*    z-index: 100;*/
    text-align: center;
}

.venueInfo {
    margin-top: 50px;
}

.venueInfo img {
    width: 80%;
    border-radius: 20px;
}

.venueInfo iframe {
    border-radius: 20px;
}

.venueNameHeader {
    font-size: 2.2em;
}

.venueNameHeader a {
    color: #CC1414;
}

hr {
    border: #A70404 solid 1px;
    /*    width: 90%;*/
}

.venueAddress {
    font-size: 1.3em;
    color: #FE6767;
    text-align: left;
    padding: 0 40px 0 20px;
}

.venueDescription {
    text-align: left;
    line-height: 2;
    padding: 20px;
}

.userName {
    color: #CC5297;
    font-size: 1.3em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.userRatings p {
    padding: 0 20px;
    margin: 0;
    color: #FEAB67;
}

.userReview {
    text-align: left;
    padding: 25px 6%;
}

#userReviews p {
    margin: 10px;
}

#userReviews p:first-child {
    margin-top: 30px;
}

.reviewBox {
    z-index: 201;
    position: fixed;
}

.userRatings form {
    margin-top: 20px;
}

.commentBox {
    margin-bottom: 30px;
}

/* STYLES FOR POSTING RATINGS */

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    margin-left: 200px;
}


form.rating,
.ratingLabel {
    display: inline-block;
    width: auto;
    height: 50px;

}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 505;
}

.rating label:nth-child(2) {
    z-index: 504;
}

.rating label:nth-child(3) {
    z-index: 503;
}

.rating label:nth-child(4) {
    z-index: 502;
}

.rating label:nth-child(5) {
    z-index: 501;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: white;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: white;
    text-shadow: 0 0 5px #09f;
}




textarea {
    width: 50%;
    height: 150px;
    margin-top: 30px;
}




footer {
    /*    position: fixed;*/
    background-color: #100200;
    /*    border-top: 10px inset #830e02;*/
    padding: 10px 0;
    width: 100%;
    margin: 0;
    overflow: auto;
    margin-top: 60px;
    z-index: 2;
}

@media only screen and (max-width: 640px) {
    footer {
        margin-right: -40px;
        margin-left: -40px;
        width: calc(100% + 80px);
    }
}

footer a {
    padding-left: 8px;
    padding-right: 8px;
}

.left {
    float: left;
    padding: 5px 20px 5px 7%;
    width: 49%;
}

.right {
    float: right;
    padding: 5px 7% 5px 20px;
    width: 49%;
    text-align: right;
}


form {
    width: 100%;
    display: inline-block;
    text-align: center;
}


input {
    width: 50%;
    box-shadow: 2px 2px 2px black inset;
    /* ADJUST COLOR ONCE COLOR PALATTE FINALIZED */
    height: 35px;
    margin: 5px 5% 10px 5%;
    padding-left: 10px;
}

.title {
    font-size: 1.2em;
}

.author {
    font-style: italic;
}

.showMore {
    text-align: center;
    border: 5px outset #19879C;
    background-color: #19879C;
    cursor: pointer;
    margin: 20px auto;
    width: 80%;
}

.showMore:hover {
    border: 5px outset #5CB2C2;
    background-color: #5CB2C2;
    color: white;
}

.seeMore {
    overflow: auto;
}

@media only screen and (max-width: 1024px) {
    /* acting like an IF statement, the media query is a set of conditions in which the containing css will be applied
    for example the statament above says: IF the media on which this CSS is going to used is SCREEN (Mobiles, Tables, Laptops, Desktops or Projectors) and the maximum resolution of that device is 1024px, THEN apply the body color blue for all the text
    */
    body,
    .reviewBox {
        color: blue;
    }
    form.rating,
    .ratingLabel {
        display: block;
        width: 100%;
    }

}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    body,
    .reviewBox {
        color: red;
    }

}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body,
    .reviewBox {
        color: green;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body,
    .reviewBox {
        color: purple;
    }
}
